* {
    color: white;
    font-family: 'Righteous', cursive;
}

body {
    background-image: url('../images/IMG_250957.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-color: black;
}
